.search:hover{
    background: #50BD4D !important;
    color:white;
}

.search a{
    color:#18181D;
}
.andro_header-controls-inner li .t:hover{
    background-color: #50BD4D;
    color: white;
}
.ov:hover{
    background-color:#50BD4D !important ;
}
.oh:hover{
    color:#50BD4D !important ;
}

