<ul class="navbar-nav">
    <li class="menu-item menu-item-has-children"><!-- --><a style="font-size: 17px;" routerLink="/home">Accueil</a></li>
    <li class="menu-item menu-item-has-children"><a style="font-size: 17px;" routerLink="/shop-v3/all">Produits</a></li>
    <li class="menu-item"> <a style="font-size: 17px;" routerLink="/market-price">Prix du Marché</a> </li>
    <li class="menu-item"> <a style="font-size: 17px;" routerLink="/contact">Devenir Vendeur</a> </li>
    <li class="menu-item"> <a style="font-size: 17px;" routerLink="/coursier">Devenir Livreur / Transporteur</a> </li>
    <li class="menu-item"> <a style="font-size: 17px;" routerLink="/coursier">Services Client</a> </li>
</ul>
