<!-- Wishlist Start -->
<div class="section">
  <div *ngIf="spinner" style="padding: 10% 30% 12% 45%;" >
    <div class="spinner-grow text-muted"></div>
            <div class="spinner-grow text-primary"></div>
            <div class="spinner-grow text-success"></div>
            <div class="spinner-grow text-info"></div>
            <div class="spinner-grow text-warning"></div>
            <div class="spinner-grow text-danger"></div>
            <div class="spinner-grow text-secondary"></div>
            <div class="spinner-grow text-dark"></div>
    </div>
      <div *ngIf="videCommande" style="    position: relative;
      padding: 11% 36%;" >   
        <h2       
        style="font-weight: 500;
        padding-bottom: 8px;
        padding-top: 8px;
        font-size: 40px;">Aucune commande </h2> </div>
  <div *ngIf="!spinner&&!videCommande" class="container">
      <!-- Wishlist Table Start -->
      <table class="andro_responsive-table">
          <thead>
              <tr>
                  <th class="remove-item">N˚Commande</th>
                  <th>Date de la commande</th>
                  <th>Quantité</th>
                  <th>frais livraison</th>
                  <th>Lieu de livraison</th>
                  <th>Statut</th>
                  <th>Montant Total</th>
                  <th>Actions</th>
              </tr>
          </thead>
                <!--  

          <div *ngIf="Commandes.length == 0" class="andro_preloader">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
          </div>-->

          <tbody>
              <tr *ngFor="let item of Commandes | paginate: { itemsPerPage: 5, currentPage: page,totalItems:count}; let i=index">
                  <td >
                      <a style="font-weight: 700;" type="button" class="close-danger">
                      #  {{item.numero_commande}}
                      </a>
                  </td>
                  <td >
                    <div style="font-weight: 700;"  class="close-danger">
                     {{item.createdAt}}
                    </div>
                </td>
                  <td data-title="Commandes">
                      <div class="andro_cart-product-wrapper">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <div  class="andro_cart-product-body">
                              <h6> <a style="font-weight: 700; color:#86858c" href="#">{{item.quantite}} produits (s)</a> </h6>
                          </div>
                      </div>
                  </td>
                  <td data-title="livraison"> <strong>{{item.montantlivraison | number:'1.0-0'}} Fr</strong> </td>
                  <td data-title="lieu livraison"> <strong>{{item.lieuLivraison}}</strong> </td>
                  <td data-title="Availability">
                    <span class="andro_product-stock instock" style="color:#16DC8A;" *ngIf="item.statut =='livraison en cours'">Livraison en cours</span>
                    <span class="andro_product-stock instock" style="color:#DC1616;" *ngIf="item.statut =='annuler'">Annulée</span>
                    <span class="andro_product-stock instock" style="color:#DCCF16;" *ngIf="item.statut =='enlever'">Enlevée</span>
                      <span class="andro_product-stock instock" style="color: #0AA50F;" *ngIf="item.statut =='accepter'">Acceptée</span>
                      <span class="andro_product-stock outofstock" style="color: #758407;" *ngIf="item.statut =='en attente'">En attente</span>
                      <span class="andro_product-stock outofstock" style="color: #755A7E;"  *ngIf="item.statut =='livrer'||item.statut =='Livré'">Livrée</span>
                      <span class="andro_product-stock outofstock" style="color: #0cc57e;"  *ngIf="item.statut =='en préparation'">{{item.statut}}</span>
                      <span class="andro_product-stock outofstock" style="color: #2C3632;"  *ngIf="item.statut =='livraison'">{{item.statut}}</span>

                  </td>
                  <td data-title="Montant total"> <strong>{{item.montant | number:'1.0-0'}} Fr</strong> </td>
                  <td data-title="Actions"> <a routerLink="/detail/{{item.id}}" class="andro_btn-custom btn-sm shadow-none">Detail</a> </td>
              </tr>
          </tbody>
      </table>
      <div>
        <pagination-controls previousLabel="Prev" nextLabel="Next"(pageChange)="onTableDataChange($event)" ></pagination-controls>
      </div>
     <!-- <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
       Wishlist Table End
        <select class="custom-select" style="width: auto" ngModel="pageSize">
          <option ngValue="2">2 items per page</option>
          <option ngValue="4">4 items per page</option>
          <option ngValue="6">6 items per page</option>
        </select>
      </div>-->
      <!-- Wishlist Table End -->
      <!-- Share Wishlist Start
      <div class="text-center">
          <h5>Share Your Wishlist</h5>
          <div class="andro_post-share">
              <ul class="andro_sm justify-content-center">
                  <li> <a href="#" ngbTooltip="Share on Facebook"> <i class="fab fa-facebook-f"></i> </a> </li>
                  <li> <a href="#" ngbTooltip="Share on Twitter"> <i class="fab fa-twitter"></i> </a> </li>
                  <li> <a href="#" ngbTooltip="Share on Linkedin"> <i class="fab fa-linkedin-in"></i> </a> </li>
              </ul>
          </div>
      </div>-->
      <!-- Share Wishlist End -->
  </div>
</div>
<!--  Wishlist End -->
